{
    "openapi": "3.1.0",
    "info": {
        "title": "API Reference",
        "version": "1.0.0",
        "description": "REST API for the telemedicine storefront. All public endpoints are unauthenticated. Patient and admin endpoints require a Sanctum Bearer token."
    },
    "servers": [
        {
            "url": "https://admin.atlasprotocol.com/api/v1"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/auth/login": {
            "post": {
                "operationId": "v1.auth.login",
                "description": "Returns a plain-text Bearer token with `frontend:*` abilities. The token is shown\nonly once; the client must persist it. Subsequent logins issue a new token without\ninvalidating existing ones.",
                "summary": "Authenticate a user and issue a Sanctum token",
                "tags": [
                    "Auth"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "device_name": {
                                        "type": "string",
                                        "maxLength": 255
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "token_type": {
                                                    "type": "string",
                                                    "const": "Bearer"
                                                },
                                                "user": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "email": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name",
                                                        "email"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "token_type",
                                                "user"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "This account has been deactivated."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/auth/logout": {
            "post": {
                "operationId": "v1.auth.logout",
                "description": "Deletes only the token used in this request. Other active tokens for the same user\nremain valid. The client should clear its stored token after calling this endpoint.",
                "summary": "Revoke the current Sanctum token",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "const": "Token revoked."
                                                }
                                            },
                                            "required": [
                                                "message"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/auth/me": {
            "get": {
                "operationId": "v1.auth.me",
                "description": "Returns a lightweight user object containing id, name, email, roles, and last login\ntimestamp. Requires a valid Sanctum Bearer token.",
                "summary": "Get the authenticated user's profile",
                "tags": [
                    "Auth"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "roles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "relations": {
                                                                "type": "array",
                                                                "prefixItems": [
                                                                    {
                                                                        "type": "string",
                                                                        "const": "roles"
                                                                    }
                                                                ],
                                                                "minItems": 1,
                                                                "maxItems": 1,
                                                                "additionalItems": false
                                                            }
                                                        },
                                                        "required": [
                                                            "relations"
                                                        ]
                                                    }
                                                },
                                                "last_login_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "email",
                                                "roles",
                                                "last_login_at"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/blog/posts": {
            "get": {
                "operationId": "v1.blog.posts.index",
                "description": "Returns a paginated list of published posts ordered by published_at descending.\nSupports filtering by category slug, tag slug, featured flag, and title search.",
                "summary": "List published blog posts",
                "tags": [
                    "Blog"
                ],
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "featured",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `BlogPostResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/BlogPostResource"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "required": [
                                                            "categories",
                                                            "tags"
                                                        ]
                                                    }
                                                ]
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
                                                "per_page",
                                                "to",
                                                "total"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "links",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/blog/posts/{post}": {
            "get": {
                "operationId": "v1.blog.posts.show",
                "summary": "Get a published blog post by slug",
                "tags": [
                    "Blog"
                ],
                "parameters": [
                    {
                        "name": "post",
                        "in": "path",
                        "required": true,
                        "description": "The post slug",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                },
                                                "slug": {
                                                    "type": "string"
                                                },
                                                "excerpt": {
                                                    "type": "string"
                                                },
                                                "content": {
                                                    "anyOf": [
                                                        {
                                                            "type": "string"
                                                        },
                                                        {
                                                            "type": "object"
                                                        }
                                                    ]
                                                },
                                                "hero_image_url": {
                                                    "type": "null"
                                                },
                                                "gallery": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "featured": {
                                                    "type": "boolean"
                                                },
                                                "published_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "updated_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "read_time_minutes": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ]
                                                },
                                                "author": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "name"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object"
                                                        }
                                                    ]
                                                },
                                                "categories": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/BlogCategoryResource"
                                                    }
                                                },
                                                "tags": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/BlogTagResource"
                                                    }
                                                },
                                                "seo": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "meta_title": {
                                                                    "type": "string"
                                                                },
                                                                "meta_description": {
                                                                    "type": "string"
                                                                },
                                                                "og_image_url": {
                                                                    "type": "null"
                                                                }
                                                            },
                                                            "required": [
                                                                "meta_title",
                                                                "meta_description",
                                                                "og_image_url"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object"
                                                        }
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "title",
                                                "slug",
                                                "excerpt",
                                                "content",
                                                "hero_image_url",
                                                "gallery",
                                                "status",
                                                "featured",
                                                "published_at",
                                                "updated_at",
                                                "read_time_minutes",
                                                "author",
                                                "categories",
                                                "tags",
                                                "seo"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                },
                "security": []
            }
        },
        "/blog/categories": {
            "get": {
                "operationId": "v1.blog.categories.index",
                "description": "Returns all visible categories ordered by position then name, with a published post count.",
                "summary": "List visible blog categories",
                "tags": [
                    "Blog"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `BlogCategoryResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BlogCategoryResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/blog/categories/{blogCategory}": {
            "get": {
                "operationId": "v1.blog.categories.show",
                "summary": "Get a visible blog category by slug",
                "tags": [
                    "Blog"
                ],
                "parameters": [
                    {
                        "name": "blogCategory",
                        "in": "path",
                        "required": true,
                        "description": "The blog category slug",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "slug": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "hero_image_url": {
                                                    "type": "null"
                                                },
                                                "is_visible": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "slug",
                                                "description",
                                                "hero_image_url",
                                                "is_visible"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                },
                "security": []
            }
        },
        "/blog/tags": {
            "get": {
                "operationId": "v1.blog.tags.index",
                "description": "Returns tags from the unified tag pool that are marked visible, ordered by name.\nTags are shared across blog, catalog, FAQ, and profiles.",
                "summary": "List all visible blog tags",
                "tags": [
                    "Blog"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `BlogTagResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/BlogTagResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/pages": {
            "get": {
                "operationId": "v1.pages.index",
                "description": "Returns a lightweight list of published pages (no section content) ordered by title.\nCached; invalidated instantly when CMS content is saved.",
                "summary": "List all published CMS pages",
                "tags": [
                    "CMS"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {},
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/pages/{slug}": {
            "get": {
                "operationId": "v1.pages.show",
                "description": "Returns the page with all typed sections included.\nCached; invalidated instantly when CMS content is saved.",
                "summary": "Get a published CMS page by slug",
                "tags": [
                    "CMS"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {},
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Page not found."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/menus": {
            "get": {
                "operationId": "v1.menus.index",
                "description": "Lightweight index of menu names and slugs. Fetch a menu's items via\n/api/v1/menus/{slug}. Cached; invalidated instantly on save.",
                "summary": "List all menus",
                "tags": [
                    "CMS"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {},
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/menus/{slug}": {
            "get": {
                "operationId": "v1.menus.show",
                "description": "Items link to internal entities by `{type, slug}` (the frontend owns\nroute patterns) or to direct URLs/anchors by `{type, url}`. Items whose\ntarget is unpublished or deleted are omitted, as are disabled items.\nNested up to 3 levels via `children`. Cached; invalidated instantly on save.",
                "summary": "Get a menu by slug with its nested item tree",
                "tags": [
                    "CMS"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {},
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "const": "Menu not found."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/layout": {
            "get": {
                "operationId": "v1.layout",
                "description": "Returns every fixed region (top_bar, header, pre_footer, footer,\nsidebar_left, sidebar_right \u2014 all keys always present) with its ordered\nitems. Each item is `{kind: \"section\", section: {...}}` (same envelope\nas page sections, including inlined media/catalog data) or\n`{kind: \"menu\", menu: {name, slug, items: [...]}}`. Global blocks are\nemitted as sections with a `global` reference. Fetch once per app load\nalongside the page payload. Cached; invalidated instantly on save.",
                "summary": "Get the global layout regions",
                "tags": [
                    "CMS"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {},
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/cart": {
            "get": {
                "operationId": "v1.cart.show",
                "description": "Returns the cart identified by the X-Cart-Token header, creating a new one if the\ntoken is absent or expired. The response always includes the cart token so the\nfrontend can persist it for subsequent requests.",
                "summary": "Get the current cart",
                "tags": [
                    "Cart"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "coupon_code": {
                                                    "type": "string"
                                                },
                                                "item_count": {
                                                    "type": "string"
                                                },
                                                "subtotal": {
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CartItemResource"
                                                    }
                                                },
                                                "expires_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "email",
                                                "coupon_code",
                                                "item_count",
                                                "subtotal",
                                                "items",
                                                "expires_at"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            },
            "delete": {
                "operationId": "v1.cart.clear",
                "description": "Removes every item from the cart identified by X-Cart-Token. Returns the now-empty cart.",
                "summary": "Clear all items from the cart",
                "tags": [
                    "Cart"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "coupon_code": {
                                                    "type": "string"
                                                },
                                                "item_count": {
                                                    "type": "string"
                                                },
                                                "subtotal": {
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CartItemResource"
                                                    }
                                                },
                                                "expires_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "email",
                                                "coupon_code",
                                                "item_count",
                                                "subtotal",
                                                "items",
                                                "expires_at"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/cart/suggestions": {
            "get": {
                "operationId": "v1.cart.suggestions",
                "description": "Returns catalog items related to what is already in the cart, driven by the\nadmin-curated \"Pairs With\" and \"Related\" catalog relations. Pairs-with items\nare preferred; related items fill any remaining slots. Items already in the\ncart are excluded. Returns an empty list when upsells are disabled in the\nadmin billing settings or the cart is empty.",
                "summary": "Get upsell suggestions for the current cart",
                "tags": [
                    "Cart"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CatalogRelationItemResource"
                                                    }
                                                },
                                                "meta": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "minItems": 0,
                                                    "maxItems": 0,
                                                    "additionalItems": false
                                                },
                                                "meta": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "data",
                                                "meta"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/cart/items": {
            "post": {
                "operationId": "v1.cart.items.add",
                "description": "Adds a product or package to the cart, optionally under one of its plans. Increments\nquantity if the same item and plan already exist in the cart. Requires `type` and `id`;\n`plan_id` is OPTIONAL for both products and packages \u2014 omit it to buy the item itself\nonce at its own price, or give it to subscribe under that plan. The plan must belong to\nthe item. Returns the updated cart.",
                "summary": "Add an item to the cart",
                "tags": [
                    "Cart"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "product",
                                            "package"
                                        ]
                                    },
                                    "id": {
                                        "type": "integer"
                                    },
                                    "plan_id": {
                                        "type": [
                                            "integer",
                                            "null"
                                        ],
                                        "description": "OPTIONAL FOR PACKAGES TOO. This was\n`requiredIf(type === 'package')`, which made a package\npurchasable only as a subscription \u2014 there was no way to buy the\nstack itself. A package IS a product, or a group of them, with its\nown price; plans are the separate recurring offer alongside it. The buy-once branch below needed no change to suit this: it\nalready read the item's own `sale_price ?? retail_price`, and was\nsimply unreachable for packages while this rule stood."
                                    },
                                    "quantity": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 10
                                    }
                                },
                                "required": [
                                    "type",
                                    "id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "coupon_code": {
                                                    "type": "string"
                                                },
                                                "item_count": {
                                                    "type": "string"
                                                },
                                                "subtotal": {
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CartItemResource"
                                                    }
                                                },
                                                "expires_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "email",
                                                "coupon_code",
                                                "item_count",
                                                "subtotal",
                                                "items",
                                                "expires_at"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                },
                "security": []
            }
        },
        "/cart/items/{cartItem}": {
            "patch": {
                "operationId": "v1.cart.items.update",
                "description": "Sets the quantity of the specified cart item. Passing `quantity=0` removes the item\nfrom the cart entirely. Returns the updated cart state.",
                "summary": "Update a cart item's quantity",
                "tags": [
                    "Cart"
                ],
                "parameters": [
                    {
                        "name": "cartItem",
                        "in": "path",
                        "required": true,
                        "description": "The cart item ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "quantity": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 10
                                    }
                                },
                                "required": [
                                    "quantity"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "coupon_code": {
                                                    "type": "string"
                                                },
                                                "item_count": {
                                                    "type": "string"
                                                },
                                                "subtotal": {
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CartItemResource"
                                                    }
                                                },
                                                "expires_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "email",
                                                "coupon_code",
                                                "item_count",
                                                "subtotal",
                                                "items",
                                                "expires_at"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "examples": [
                                                "This item does not belong to your cart."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                },
                "security": []
            },
            "delete": {
                "operationId": "v1.cart.items.remove",
                "description": "Deletes the specified cart item and returns the updated cart.",
                "summary": "Remove a single item from the cart",
                "tags": [
                    "Cart"
                ],
                "parameters": [
                    {
                        "name": "cartItem",
                        "in": "path",
                        "required": true,
                        "description": "The cart item ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "token": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "coupon_code": {
                                                    "type": "string"
                                                },
                                                "item_count": {
                                                    "type": "string"
                                                },
                                                "subtotal": {
                                                    "type": "string"
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CartItemResource"
                                                    }
                                                },
                                                "expires_at": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "token",
                                                "email",
                                                "coupon_code",
                                                "item_count",
                                                "subtotal",
                                                "items",
                                                "expires_at"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "examples": [
                                                "This item does not belong to your cart."
                                            ]
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                },
                "security": []
            }
        },
        "/catalog/categories": {
            "get": {
                "operationId": "v1.catalog.categories.index",
                "description": "Returns visible categories ordered by position then name. Pass `?tree=1` to receive\na nested tree with children embedded. Default returns a flat list with parent reference.",
                "summary": "List visible catalog categories",
                "tags": [
                    "Catalog"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `CategoryResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/CategoryResource"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "required": [
                                                            "parent"
                                                        ]
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/catalog/categories/{category}": {
            "get": {
                "operationId": "v1.catalog.categories.show",
                "description": "Includes parent reference and visible children ordered by position.",
                "summary": "Get a visible catalog category by slug",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "description": "The category slug",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "slug": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "hero_image_url": {
                                                    "type": "null"
                                                },
                                                "icon": {
                                                    "type": "string"
                                                },
                                                "provider_encounter_type_id": {
                                                    "type": "string"
                                                },
                                                "sort_order": {
                                                    "type": "string"
                                                },
                                                "parent": {
                                                    "anyOf": [
                                                        {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "slug": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "name",
                                                                "slug"
                                                            ]
                                                        },
                                                        {
                                                            "type": "object"
                                                        }
                                                    ]
                                                },
                                                "children": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/CategoryResource"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "slug",
                                                "description",
                                                "hero_image_url",
                                                "icon",
                                                "provider_encounter_type_id",
                                                "sort_order",
                                                "parent",
                                                "children"
                                            ]
                                        },
                                        "meta": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                },
                "security": []
            }
        },
        "/catalog/products": {
            "get": {
                "operationId": "v1.catalog.products.index",
                "description": "Returns a paginated list of published products with categories and tags.",
                "summary": "List published catalog products",
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "featured",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "in_stock",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filter by product name or subtitle.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "testosterone"
                    },
                    {
                        "name": "class",
                        "in": "query",
                        "description": "Filter by product class slug.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "peptides"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by product type slug.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "blends"
                    },
                    {
                        "name": "form",
                        "in": "query",
                        "description": "Filter by product form slug.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "vial-lyophilized"
                    },
                    {
                        "name": "ingredient",
                        "in": "query",
                        "description": "Filter by ingredient (compound) slug.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "bpc-157"
                    },
                    {
                        "name": "price_min",
                        "in": "query",
                        "description": "Filter products with an effective price at or above this amount (USD).",
                        "schema": {
                            "type": "number"
                        },
                        "example": 50
                    },
                    {
                        "name": "price_max",
                        "in": "query",
                        "description": "Filter products with an effective price at or below this amount (USD).",
                        "schema": {
                            "type": "number"
                        },
                        "example": 300
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Sort order: position (default), name, -name, price, -price, newest, oldest.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "-price"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Results per page (1\u201350, default 15).",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 15
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated set of `ProductResource`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/components/schemas/ProductResource"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "required": [
                                                            "volume",
                                                            "categories",
                                                            "tags"
                                                        ]
                                                    }
                                                ]
                                            }
                                        },
                                        "links": {
                                            "type": "object",
                                            "properties": {
                                                "first": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "last": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "next": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "first",
                                                "last",
                                                "prev",
                                                "next"
                                            ]
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "from": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "minimum": 1
                                                },
                                                "last_page": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                },
                                                "links": {
                                                    "type": "array",
                                                    "description": "Generated paginator links.",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "active": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "url",
                                                            "label",
                                                            "active"
                                                        ]
                                                    }
                                                },
                                                "path": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "description": "Base path for paginator generated URLs."
                                                },
                                                "per_page": {
                                                    "type": "integer",
                                                    "description": "Number of items shown per page.",
                                                    "minimum": 0
                                                },
                                                "to": {
                                                    "type": [
                                                        "integer",
                                                        "null"
                                                    ],
                                                    "description": "Number of the last item in the slice.",
                                                    "minimum": 1
                                                },
                                                "total": {
                                                    "type": "integer",
                                                    "description": "Total number of items being paginated.",
                                                    "minimum": 0
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "from",
                                                "last_page",
                                                "links",
                                                "path",
[...]
